<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<div class = "wrapper">
			<h2>Please type in numbers to be added below</h2>
			<form action="add" method="POST">
				<input type="text" name="first_number" placeholder = "type number" />
				<span> + </span>    
				<input type="text" name="second_number" placeholder = "type number" />
				<button type="submit">Add</button>
			</form>
		</div>
	</body>	
</html>