<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
	<div class = "wrapper">
		<h2>Please type in numbers to be divided below</h2>
		<form action="divide" method="POST">
			<input type="text" name="first_number" placeholder = "type number" />
			<span> / </span>    
			<input type="text" name="second_number" placeholder = "type number" />
			<button type="submit">Divide</button>
		</form>
	</div>
	</body>	
</html>