<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<div class = "wrapper">
			<h1>Online Calculator</h1>
			<h2><a href="/add"><button type="button">Add</button></a></h2>
			<h2><a href="/subtract"><button type="button">subtract</button></a></h2>
			<h2><a href="/multiply"><button type="button">Multiply</button></a></h2>
			<h2><a href="/divide"><button type="button">Divide</button></a></h2>	
		</div>
	</body>	
</html>