<h1> Film Favorites: </h1>
<form action="/film" method="POST">
	<label>Whats your favorite film:</label>
	<input type="text" name="user_fave_movie" placeholder="Insert favorite film.">
	<br>

	<label>Whats your least favorite film:</label>
	<input type="text" name="user_least_fave_movie" placeholder="Insert least favorite film.">
	<br>

	<button type="submit">Submit me!</button>
</form>