<h1>Favorite Food:</h1>

<form action="/home" method="POST">
	<label>Your name:</label>
	<input type="text" name="user_name" placeholder="Insert name here.">
	<br>

	<label>Your favorite food:</label>
	<input type="text" name="user_food" placeholder="Insert food here">
	<br>

	<button type="submit">Submit me!</button>

</form>